p Мапит поток на внутренний, игнорирует новые выстрелы внешнего потока, пока не закончится внутренний.
p exhaustMap() обрабатывает новый поток только тогда, когда он не занят другим потоком. То есть если в момент нового сообщения он уже работает с потоком, то новый поток будет проигнорирован и никогда не обработается.

.stream-block
  p Поток 1
  app-draw-stream([stream]="source1")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source3")
  p Поток 2
  app-draw-stream([stream]="source4")
  p Результат
  app-draw-stream([stream]="result2")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source5")
  p Поток 2
  app-draw-stream([stream]="source4")
  p Результат
  app-draw-stream([stream]="result3")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source6")
  p Поток 2
  app-draw-stream([stream]="source7")
  p Результат
  app-draw-stream([stream]="result4")
