p Перед завершением потока стреляет переданным значением

.stream-block
  p Поток
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result2")
