p Emit given value if nothing is emitted before completion.
.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")
.stream-block
  p Source
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result2")
