p Observable of values for window of time.
p Превращает внешний поток, во внутренние потоки заданный промежуток времени

.stream-block
  p Поток 1
  app-draw-stream([stream]="source1")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source3")
  p Поток 2
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result2")
