p После того как выстрелили все потоки, стреляет массивом их значений
p В отличии от CombineLatest, ждет пока выстрелят n-th потоки и затем стреляет

.stream-block
  p Первый поток
  app-draw-stream([stream]="source1")
  p Второй поток
  app-draw-stream([stream]="source2")
  p Третий поток
  app-draw-stream([stream]="source3")
  p Четвертый поток
  app-draw-stream([stream]="source4")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Первый поток
  app-draw-stream([stream]="source2")
  p Второй поток
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result2")
