p Когда стреляет внутренний поток берет значение из внешнего (вроде)
p Но не чаще чем значение изменится

.stream-block
  p Поток 1
  app-draw-stream([stream]="source1")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source2")
  p Поток 2
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result2")
