p When any observable emits a value, emit the latest value from each.
.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source2")
  p Source3
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source2")
  p Source3
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result2")
