p Collect output values until provided observable emits, emit as array.

.stream-block
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 2
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result1")
