p Когда выстрелит второй поток, стреляет массивом из накопившихся значений первого

.stream-block
  p Поток 1
  app-draw-stream([stream]="getStreamObj(source1$, 'interval(1000)')")
  p Поток 2
  app-draw-stream([stream]="getStreamObj(source2$, 'fromEvent(document, click)')")
  p Результат
  app-draw-stream([stream]="result1")
