p Комбинирует потоки, в результате массив последних значений

.stream-block
  p Первый поток
  app-draw-stream([stream]="source1")
  p Второй поток
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Первый поток
  app-draw-stream([stream]="source2")
  p Второй поток
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result2")
