p Разделение значений между несколькими подписчиками (холодное наблюдаемое в горячее)
p Оператор publishLast() это сокращенный тип записи оператора multicast(new AsyncSubject())

.stream-block
  p Исходный поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
