p Subscribe to observables in order as previous completes, emit values.

.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result2")

//- .stream-block
//-   p Source1
//-   app-draw-stream([stream]="source3")
//-   p Source2
//-   app-draw-stream([stream]="source1")
//-   p Result
//-   app-draw-stream([stream]="result3")
