p Собирает выстрелы потоков заданное количество времени, затем стреляет массивом значений

.stream-block
  p Поток
  app-draw-stream([stream]="getStreamObj(source1$, 'interval(1000)')")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
