p Разделение значений между несколькими подписчиками

.stream-block
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 1
  app-draw-stream([stream]="source1")

.stream-block
  p Source 2
  app-draw-stream([stream]="source2")
  p Source 2
  app-draw-stream([stream]="source2")

.stream-block
  p Source 3
  app-draw-stream([stream]="source3")
  p Source 3
  app-draw-stream([stream]="source3")

.stream-block
  p Source 4
  app-draw-stream([stream]="source4")
  p Source 4
  app-draw-stream([stream]="source4")

.stream-block
  p Source 5
  app-draw-stream([stream]="source5")
  p Source 5
  app-draw-stream([stream]="source5")

.stream-block
  p Source 6
  app-draw-stream([stream]="source6")
  p Source 6
  app-draw-stream([stream]="source6")
