p Собирает все выстрелы потока, когда стреляет второй поток, выстреливает массивом значений

.stream-block
  p Поток
  app-draw-stream([stream]="getStreamObj(this.source1$, 'interval(1000)')")
  p Результат
  app-draw-stream([stream]="result1")
