p Разделение значений между несколькими подписчиками (холодное наблюдаемое в горячее)

p Observable возвращает объект с типом ConnectableObservable. Этот объект похож на обычный Observable, за исключением одного момента: он начинает производить элементы не тогда, когда на него подписываются, а только тогда, когда на нем вызвана функция .connect()
p Каждый раз вызывать метод connect получается достаточно проблематично, мы можем с легкостью забыть его вызвать. Для того, чтобы об этом не волноваться, существует оператор refCount. Этот оператор сам следит за количеством подписчиков и вызывает метод connect(), когда количество подписчиков меняется с 0 на 1, и делает отписку, когда количество подписчиков меняется с 1 на 0.

p Метод является устаревшим.

.stream-block
  p Исходный поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
