p A special type of Observable which shares a single execution path among observers

.stream-block
  p Result 1
  app-draw-stream([stream]="result1")
  p Result 2
  app-draw-stream([stream]="result2")
