p Branch out the source Observable values as a nested Observable with each nested Observable emitting at most windowSize values.
p Как bufferCount, но выстреливает вложенными потоками вместо массива.

.stream-block
  p Поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
