p Compares all values of two observables in sequence using an optional comparor function and returns an observable of a single boolean value representing whether or not the two sequences are equal.
.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result2")
