p Разделяет поток на два, основываясь на переданном предикате

.stream-block
  p Поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
