p Emits the single value at the specified index in a sequence of emissions from the source Observable.

.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")
