p Разделение значений между несколькими подписчиками
p share is like multicast with a Subject and refCount!

.stream-block
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 1
  app-draw-stream([stream]="source1")

.stream-block
  p Source 2
  app-draw-stream([stream]="source2")
  p Source 2
  app-draw-stream([stream]="source2")
