p Разделение значений между несколькими подписчиками
p Share это вызов операторов publishReplay и refCount, но только вызов будет состоять из одного оператора.
p По умолчанию refCount (подсчет подписчиков не работает), начиная с версии 6.4.0, добавлен параметр refCount: boolean; который это меняет

.stream-block
  p Исходный поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
