p Выстреливает первым значением потока удовлетворяющим предикату

.stream-block
  p Поток
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result2")

.stream-block
  p Поток
  app-draw-stream([stream]="source3")
  p Результат
  app-draw-stream([stream]="result3")
