p Emits only the first value emitted by the source Observable that meets some condition.

.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result2")

.stream-block
  p Source
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result3")
