p Toggle on to catch emitted values from source, toggle off to emit buffered values as array.

.stream-block
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 2
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result1")
