p Map to observable, emit values.

.stream-block
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 2
  app-draw-stream([stream]="source2")
  p Result 1
  app-draw-stream([stream]="result1")

.stream-block
  p Source 1
  app-draw-stream([stream]="source3")
  p Source 2
  app-draw-stream([stream]="source4")
  p Result 1
  app-draw-stream([stream]="result2")

.stream-block
  p Source 1
  app-draw-stream([stream]="source5")
  p Source 2
  app-draw-stream([stream]="source4")
  p Result 1
  app-draw-stream([stream]="result3")

.stream-block
  p Source 1
  app-draw-stream([stream]="source6")
  p Source 2
  app-draw-stream([stream]="source7")
  p Result 1
  app-draw-stream([stream]="result4")
