p Стреляет массивом последних значений потоков
.stream-block
  p Первый поток
  app-draw-stream([stream]="source1")
  p Второй поток
  app-draw-stream([stream]="source2")
  p Третий поток
  app-draw-stream([stream]="source3")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Первый поток
  app-draw-stream([stream]="source1")
  p Второй поток
  app-draw-stream([stream]="source2")
  p Третий поток
  app-draw-stream([stream]="source3")
  p Результат
  app-draw-stream([stream]="result2")
