p Branch out the source Observable values as a nested Observable periodically in time.
p Как bufferTime, но выстреливает вложенными потоками вместо массива.

.stream-block
  p Поток
  app-draw-stream([stream]="source1")
  p Результат
  app-draw-stream([stream]="result1")
