p Branch out the source Observable values as a nested Observable periodically in time.
p It's like bufferTime, but emits a nested Observable instead of an array.

.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")
