p Collect and subscribe to all observables.

.stream-block
  p Source1
  app-draw-stream([stream]="source1")
  p Source2
  app-draw-stream([stream]="source2")
  p Source3
  app-draw-stream([stream]="source3")
  p Result
  app-draw-stream([stream]="result1")
