p Конвертирует поток высшего порядка, в поток, который стреляет значениями всех потоков высшего порядка
p (Flattens an Observable-of-Observables)

.stream-block
  p Поток кликов
  app-draw-stream([stream]="source1")
  p Поток высшего порядка (поток кликов перемапенный на поток потоков интервалов)
  app-draw-stream([stream]="source2")
  p Результат merge-all
  app-draw-stream([stream]="result1")
