ul.streams
  li.stream(*ngFor="let streamValue of streamsValues")
    p.stream__name {{ streamValue.name }}
    ul.stream__values
      li.stream__value(*ngFor="let value of streamValue.values") {{ value.val }}
