.stream
  .stream__extra
    .stream__info
      .stream__name(*ngIf="stream.name") {{ stream.name }}
      .stream__code(*ngIf="stream.code") {{ stream.code }}
      .stream__description(*ngIf="stream.description") {{ stream.description }}
      .stream__count(*ngIf="numMaxValues") Макс: {{ numMaxValues }} выстрелов
    .stream__control
      button.stream__toogle((click)="toogle()") {{ pause ? 'play' : 'pause' }}
  ul.stream__values
    li.stream__value-wrap(*ngFor="let value of values")
      .df((click)="onClick(value)")
        span.stream__value([ngClass]="[value.shape, value.color]") {{ showVal(value.val) }}
        code.stream__value-details(*ngIf="isValSpecial(value.val)") {{ showValDetails(value.val) }}
