:host {
  width: 100%;
}

.stream {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  overflow-x: auto;
  overflow-y: visible;

  .stream__info {
    display: flex;
    align-items: center;

    * {
      margin-right: 10px;
    }
  }

  .stream__extra {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .stream__toogle {
    cursor: pointer;
    padding: 2px;
  }

  .stream__values {
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 30px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      top: 50%;
      transform: translate(20px, -50%);
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: -20px;

      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #000;
    }

    .stream__value-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      flex-shrink: 0;

      &:hover {
        .stream__value-details {
          display: flex;
        }
      }
    }

    .stream__value {
      position: relative;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      min-width: 25px;
      max-width: 250px;
      min-height: 25px;
      color: #fff;
      background-color: var(--blue, #2980b9);
      padding: 0 10px;

      &--red {
        background-color: var(--red, #e74c3c);
      }

      &--green {
        background-color: var(--green, #16a085);
      }

      &--blue {
        background-color: var(--blue, #2980b9);
      }

      &--black {
        background-color: #000;
      }

      &--circle {
        border-radius: 50%;
      }

      &--cross {
        position: relative;
        font-size: 0;
        width: 0;
        height: 0;
        margin-right: 20px;
        min-width: 0px;

        &:before {
          content: "";
          position: absolute;
          top: 70%;
          left: 70%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 30px;
          height: 3px;
          background-color: red;
        }

        &:after {
          content: "";
          position: absolute;
          top: 70%;
          left: 70%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 3px;
          height: 30px;
          background-color: red;
        }
      }

      &--block {
        width: 5px;
        min-width: 5px;
        height: 25px;
        font-size: 0;
        background-color: #000;
        padding: 0;
      }

      &--observable {
        transform: rotateZ(30deg) translateY(35px);

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          right: -16px;
          top: -2px;

          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #000;
        }
      }
    }

    .stream__value-details {
      position: absolute;
      width: 120px;
      border: 1px solid #000;
      padding: 5px;
      background: #fff;
      display: none;
      justify-content: center;
      z-index: 10000;
    }
  }
}
