.stream
  .stream__extra
    .stream__info
      .stream__name(*ngIf="stream") {{ stream.name }}
      .stream__code(*ngIf="stream")
        app-ui-code([code]="stream.code")
      .stream__description(*ngIf="stream") {{ stream.description }}
  ul.stream__values
    li.stream__value-wrap(*ngFor="let value of values")
      span.stream__value([ngClass]="getCssClasses(value)") {{ showVal(value) }}
      code.stream__value-details(*ngIf="isValSpecial(value.val)") {{ showValDetails(value.val) }}
