p Emit values that pass the provided condition.

.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result2")
