p Выстреливает значениями потока не выстрелит переданный поток

.stream-block
  p Поток 1
  app-draw-stream([stream]="source1")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source3")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result2")
