p Разделение значений между несколькими подписчиками
p Share это вызов операторов publish и refCount, но только вызов будет состоять из одного оператора.

.stream-block
  p Исходный поток
  app-draw-stream([stream]="source1")
  p Результат 1
  app-draw-stream([stream]="result1")
  p Результат 2
  app-draw-stream([stream]="result2")
