p Emits all items emitted by the source Observable that are distinct by comparison from previous items.

.stream-block
  p Source
  app-draw-stream([stream]="source1")
  p Result
  app-draw-stream([stream]="result1")

.stream-block
  p Source
  app-draw-stream([stream]="source2")
  p Result
  app-draw-stream([stream]="result2")
