p Мапит поток на внутренний, выстреливает все значения в заданном порядке.
p Дожидается завершения внутреннего потока, прежде чем стреляет новыми значенийми из-за выстрела внешнего потока

.stream-block
  p Поток 1
  app-draw-stream([stream]="source1")
  p Поток 2
  app-draw-stream([stream]="source2")
  p Результат
  app-draw-stream([stream]="result1")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source3")
  p Поток 2
  app-draw-stream([stream]="source4")
  p Результат
  app-draw-stream([stream]="result2")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source5")
  p Поток 2
  app-draw-stream([stream]="source4")
  p Результат
  app-draw-stream([stream]="result3")

.stream-block
  p Поток 1
  app-draw-stream([stream]="source6")
  p Поток 2
  app-draw-stream([stream]="source7")
  p Результат
  app-draw-stream([stream]="result4")
