p Разделение значений между несколькими подписчиками

.stream-block
  p Subject
  p Source 1
  app-draw-stream([stream]="source1")
  p Source 1
  app-draw-stream([stream]="source1")

.stream-block
  p replaySubject
  p Source 2
  app-draw-stream([stream]="source2")
  p Source 2
  app-draw-stream([stream]="source2")
